<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="keywords" content="#">
<meta name="description" content="#">
<title>GreenThumb.ai | 500</title>
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Fontawesome -->
    <link href="{{ url_for('static', filename='assets/css/font-awesome.css') }}" rel="stylesheet">
    <!-- Icon Font -->
    <link href="{{ url_for('static', filename='assets/css/font/flaticon.css') }}" rel="stylesheet">
    <!-- Swiper Slider -->
    <link href="{{ url_for('static', filename='assets/css/swiper.min.css') }}" rel="stylesheet">
    <!-- Slick Slider -->
    <link href="{{ url_for('static', filename='assets/css/slick.css') }}" rel="stylesheet">
    <!-- Range Slider -->
    <link href="{{ url_for('static', filename='assets/css/jquery-ui.css') }}" rel="stylesheet">
    <!-- magnific popup -->
    <link href="{{ url_for('static', filename='assets/css/magnific-popup.css') }}" rel="stylesheet">
    <!-- Nice Select -->
    <link href="{{ url_for('static', filename='assets/css/nice-select.css') }}" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link href="{{ url_for('static', filename='assets/css/style.css') }}" rel="stylesheet">
    <!-- Custom Responsive -->
    <link href="{{ url_for('static', filename='assets/css/responsive.css') }}" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap" rel="stylesheet">
<!-- place -->
</head>
<body id="page-500">
<!-- Start 500 -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="500-img"> <img src="{{ url_for('static', filename='assets/images/500-img.png') }}" alt="image"> </div>
        <div class="caption">
          <h5 class="text-custom-white full-width">Opps! You recieved a 500 error message! <br>
            The following reasons are likely to cause issues in your experience. </h5>
          <details>
            <summary>Your browser is set to have ad blocking turned on</summary>
            <ul style="padding-bottom: 0;">
                  <li>We use a jQuery script to resolve your IP for sessions affinity to remember you for a time until your IP rotates by our ISP. </li>
                  <li>You need to disable this for the site if you wish to continue. This feature conflict is only for demonstration feasibility and will not be required for production services of this product idea. </li>
                  <li>This allows your sessions to have remembrance of your choice and experience. If you choose, you can delete your session on the privacy page. </li>
                </ul> 
			</details>
			<details>
            <summary>It is also likely that if too many users request service from this feasibility demonstration, the time to live “TTL” constants for web services is running into low performance. </summary>
            <ul style="padding-bottom: 0;">
                  <li>Unfortunately, budgets are tight, and cost control is a requirement</li>
                  <li>We also have limited time to develop more quality data services to ensure performance at scale. Therefore, our performance is more degraded than you would expect in a production release of this product.</li>
                  <li>Lastly, we made every effort to ensure the best quality in the data sources we could. However, those sources are free and limited in quality, and we experience these issues due to data corruption for community open sources. Production release products would be scrutinized for quality to ensure these issues are flushed out before consumer use.</li>
                  <li>Please try again over time if you like, or choose to delete your session and try again later.</li>
                </ul>
			</details>
          <a href="{{ url_for('home') }}" class="btn-first btn-border mt-4 text-custom-white">Return to Home</a> </div>
      </div>
    </div>
  </div>
</section>
<!-- End 500 --> 
<!-- Place all Scripts Here --> 
    <!-- jQuery -->
    <script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
    <!-- Popper -->
    <script src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <!-- Range Slider -->
    <script src="{{ url_for('static', filename='assets/js/jquery-ui.js') }}"></script>
    <!-- Swiper Slider -->
    <script src="{{ url_for('static', filename='assets/js/swiper.min.js') }}"></script>
    <!-- Slick Slider -->
    <script src="{{ url_for('static', filename='assets/js/slick.min.js') }}"></script>
    <!-- Nice Select -->
    <script src="{{ url_for('static', filename='assets/js/jquery.nice-select.js') }}"></script>
    <!-- Jarallex -->
    <script src="{{ url_for('static', filename='assets/js/jarallax.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/jarallax-video.min.js') }}"></script>
    <!-- magnific popup -->
    <script src="{{ url_for('static', filename='assets/js/jquery.magnific-popup.min.js') }}"></script>
    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnd9JwZvXty-1gHZihMoFhJtCXmHfeRQg"></script>
    <!-- info box -->
    <script src="{{ url_for('static', filename='assets/js/infobox.min.js') }}"></script>
    <!-- Markerclusterer js -->
    <script src="{{ url_for('static', filename='assets/js/markerclusterer.js') }}"></script>
    <!-- Maps js -->
    <script src="{{ url_for('static', filename='assets/js/custom-maps.js') }}"></script>
    <!-- Custom Js -->
    <script src="{{ url_for('static', filename='assets/js/custom.js') }}"></script>
    <!-- /Place all Scripts Here -->
</body>
</html>